---
title: Biz Kimiz?
hero: Biz Kimiz?
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
		

<p class="editable"><br><br>Hayatınıza heyecan katacak tasarımları, hızlı, güvenilir ve uygun fiyatlarla kapınıza getiriyoruz.</p>

	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Yenilikçi</h3>
		<p class="editable">Modayı takip ediyor. Yeni sezonda çok kullanılacak ürünleri sizler için seçiyoruz. Bu sayede fazla zaman harcamadan şık kalabilirsiniz.</p>
	</div>
	<div>
		<h3 class="editable">Güvenilir</h3>
		<p class="editable">Ürünlerimize sahip çıkıyoruz. Aldığınız ve beğenmediğiniz ürünlerde değişim, iade haklarınızı saklı tutuyoruz.</p>
	</div>
	<div>
		<h3 class="editable">Hızlı</h3>
		<p class="editable">Heyecanla ürünlerini bekleyen sizler için siparişleri aynı gün kargoya teslim ediyoruz.</p>
	</div>
</div>
<p class="editable">Daha fazla bilgi almak ve aklınıza takılanlar için whatsapp hattımızdan bize <a href ="https://api.whatsapp.com/send?phone=905396405170" target="_blank">ulaşabilirsiniz..</a></p>
