---
title: Lily Moada
hero: Lily Moada
subtitle: Çanta Gözlük Saat
---

<div class="content" id="products">
	<section>
		<div class="container">
				<ul class="product-list">
					<li>
						<div class="kategori-kapsama">
							<a href="#">
							<img src="/images/page/gozluk.jpg" class="img-home">
								<div class="block1-wrapbtn w-size2">
									<!-- Button -->
									<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">gözlük</a>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="kategori-kapsama">
							<a href="#">
							<img src="/images/page/saat.jpg" class="img-home">
								<div class="block1-wrapbtn w-size2">
									<!-- Button -->
									<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">saat</a>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="kategori-kapsama">
							<a href="#">
							<img src="/images/page/canta.jpg" class="img-home">
								<div class="block1-wrapbtn w-size2">
									<!-- Button -->
									<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">çanta</a>
								</div>
							</a>
						</div>
					</li>
				</ul>
				<hr>
				<center><p style="margin: 0px;">Ürünlerimiz</p></center>
				<hr>
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				
				{% for product in site.products limit:12 %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details" style="margin-left: 15%;">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>

							<p>{{ product.price }} ₺</p>
						</div>
					</li>
				{% endfor %}

			</ul>
		</div>
	</section>
</div>
