---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				{% include product-styles.html product=page %}
				<div class="product-details" id="add">
					<h3>{{ page.name }}</h3>
					{{ page.description_markdown | markdownify }}
					<p>Ürün Kodu: {{ page.urun_kodu }}</p>
					<h3>{{ page.price }} ₺</h3>
					<p>Ödeme Seçenekleri</p>
					<div class="button"><button class="snipcart-add-item" onclick="window.location.href='https://api.whatsapp.com/send?phone=905396405170&text=Merhabalar%0D%0ASitenizde%20G%C3%B6rd%C3%BC%C4%9F%C3%BCm%20%C3%BCr%C3%BCn%20kodu%3A%20%22{{ page.urun_kodu}}%22%20olan%20%C3%BCr%C3%BCn%C3%BCn%C3%BCz%C3%BC%20sat%C4%B1n%20almak%20istiyorum.'">Havale/Eft</button> <button class="snipcart-add-item" onclick="window.location.href='{{ page.iyzico}}'">Kredi Kartı</button></div>

				</div>
			</div>
		</div>
	</section>
</div>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="{{ site.api_key }}" id="snipcart"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
